# Build system
aclocal.m4
autom4te.cache/
configure
compile
install-sh
missing
INSTALL
config.h.in
Makefile.in
depcomp
config.guess
config.sub
# Built files
Makefile
config.h
config.log
config.status
stamp-h1
/src/cpm-*.o
/src/cpm
/src/.deps/
/rom/*.bin

